version: '2'
services:
  web:
    volumes:
      - rs-vol1:/app/data
      - rs-vol2:/app/static
    ports:
      - "81:80"
    environment:
      - FLASK_APP=app/main.py
      - FLASK_DEBUG=1
      - DB_URI=sqlite:////app/data/RSendpoint.db
      - BASE_URI=http://localhost:81
      - HASH_ALGORITHM=md5
      - RESOURCE_UNIT=1000
      - DATE_UNIT=day
      - STATIC_FILES=/app/static/
      - 'RUN=flask run --host=0.0.0.0 --port=80'
      

  redis:
    image: 'redis:3.2.7'
    # command: redis-server --requirepass redispass

volumes:
   rs-vol1:
   rs-vol2:
